body
{
    background-color: #534e4e;
    color: rgb(110, 120, 127);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #43be32;
    box-shadow: 0px 2px 20px 0px  #000000;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #d11717;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}