<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px;">
            <i class="bi bi-hdd"></i>
            <h3>Backend</h3>
            <p>
                Experiencia backend con proyectos pequeños, CRUDs con PHP, JAVA, C# y bases de datos en SQL server, MYSQL y usado tomcat como servidor.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.net, SQL server, JAVA, Spring boot, JSP, MYSQL
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>ASP.net</li>
                <li>JAVA</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>NODE</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0px 15px 15px 0px;"> 
            <i class="bi bi-file-earmark-break"></i>
            <h3>Frontend</h3>
            <p>
                He trabajado en proyectos pequeños utilizando HTML, CSS y JavaScript. He creado interfaces de usuario, una experiencia fluida en diferentes dispositivos.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                HTML, CSS, Tailwind, JavaScript, bootstrap
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>ASP.net</li>
                <li>aaa</li>
                <li>sss</li>
                <li>ddd</li>
                <li>www</li>
            </ul>
        </div>
    </div>
</div>