
<div class="text-center">
    <h1 class="display-4">Soy </h1>
    <h2>Aprendiz en el SENA en la carrera Análisis y Desarrollo de Software</h2>
    <img id="foto" src="img/5.jpg" alt="hora del due due duelo" />
</div>

<div class="text-center">
    <img src="~/img/dotnet.jpeg" id="img_dotnet" />
</div>

<div class="row bg-primary justify-content-center text-center">
    <div class="col col-md-7 seccion_bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Hola, soy , estudiante de la carrera de Tecnología en Desarrollo de Software. Estoy apasionado por el mundo del desarrollo y siempre en búsqueda de nuevos desafíos y oportunidades para aprender y crecer. Además, tengo un gran interés y aspiración de trabajar en el campo de la ciberseguridad.
        </p>
    </div>
</div>
