@model HomeIndexViewModel

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Todos mis proyectos</h1>
    <p>Aquí encontraras todos mis proyectos en lso que he trabajado, diviertete.</p>
</div>

<partial name="_ListadoProyectos" model="Model.eProyectos" />
